<!DOCTYPE html>
<html>
  <head>
    <title>Bank Root - Accueil</title>
  </head>
  <body>
    <h1>Bienvenue à la Bank Root</h1>
    <nav>
      <ul>
        <li><a href="#services">Services</a></li>
        <li><a href="http://localhost:3333/auth/">Comptes</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <h2 id="services">Nos services</h2>
    <ul>
      <li>Comptes courants</li>
      <li>Comptes d'épargne</li>
      <li>Prêts</li>
      <li>Carte de crédit</li>
    </ul>
    <h2 id="comptes">Ouvrir un compte</h2>
    <p>Pour ouvrir un compte, veuillez <a href="#contact">nous contacter</a> ou rendez-vous dans l'une de nos succursales.</p>
    <h2 id="contact">Contact</h2>
    <p>Téléphone : 555-555-5555</p>
    <p>Email : contact@banquexyz.com</p>
    <p>Adresse : 123 Main St, Ville XYZ</p>
  </body>
</html>
